<%- include ("includes/head") %> 


    <div class="adminView">
        <img src="http://placehold.it/">
        <p>Mestre</p>
    </div>

    <div class="monstros">
        <p>Montros & NPCS</p>
        <p>Criar Monstro</p>
        <p>Criar NPC</p>
        <p>Monstros</p>
        <p>NPCs</p>
    </div>

    <div class="painelBatalha">
        <p>Monitoramento</p>
        <p>Criar Combate</p>
    </div>

    <div class="jornal">
        <p>Missões</p>
        <p>Index</p>
        <p>Livro de regras</p>
    </div>

<%- include ("includes/footer") %>