<%- include ("includes/head") %> 
    
<div class="container">
    <a href="login" > <img  src="https://i.pinimg.com/736x/24/32/71/2432718c4bd09c05b0bff7a3b9acd9b3.jpg" > </a>
</div>    
<%- include ("includes/footer") %> 