<%- include ("includes/head") %> 

<h1>Tela de login</h1>

<form method="post" action="??????">
    <label for="n_User">User</label>
    <input type="text" id="login_usuario" name="login_usuario">
    <br>
    <label for="n_Password"> Password </label>
    <input type="text" id="login_password" name="login_password">
    <br>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<a href="register">Registre-se</a>

<%- include ("includes/footer") %> 