<%- include ("includes/head") %> 
<div class="main">
    <div class="container-form">
        <p class="h3">Tela de Registro</p>
            <form method="post" action="login">
                <div class="mb-6">
                    <label for="n_User" class="form-label">User</label>
                    <input type="text" id="register_usuario" name="username" class="form-control">
                </div>
                <div class="mb-6">
                    <label for="n_Password" class="form-label"> Password </label>
                    <input type="text" id="register_password" name="password" class="form-control">
                </div>
                <div class="button-forms">
                    <button type="submit" class="btn btn-danger">Enviar</button>
                </div>
            </form>
    </div>
</div>

<%- include ("includes/footer") %> 