<%- include ("includes/head") %> 

<h1>Tela de Registro</h1>

<form method="post" action="login">
    <label for="n_User">User</label>
    <input type="text" id="register_usuario" name="register_usuario">
    <br>
    <label for="n_Password"> Password </label>
    <input type="text" id="register_password" name="register_password">
    <br>
    <button type="submit" class="btn btn-danger">Enviar</button>
</form>



<%- include ("includes/footer") %> 