<%- include ("includes/head") %> 


    <div class="userView">
        <img src="http://placehold.it/">
        <p>Usuario</p>
    </div>

    <div class="fichaManager">
        <p>Ficha</p>
        <p>Criar personagem</p>
        <p>Personagens</p>
    </div>

    <div class="mochila">
        <p>Equipamentos</p>
    </div>

    <div class="jornal">
        <p>Missões</p>
        <p>Index</p>
        <p>Livro de regras</p>
    </div>

<%- include ("includes/footer") %>